# Visual Studio
.vs/
*.user
*.suo

# Build-mapp
bin/
obj/
out/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Logs and temporary files
*.log
*.tmp
*.ldb


# Secrets och sensitive data
secrets.json

# OS specific files
.DS_Store
Thumbs.db